@model WebApplication.Models.PickUpAreaModel

@{
    ViewData["Title"] = "Driver Profile";
}

<h1>@ViewData["Title"]</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUpArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUpArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUpArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUpArea)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-warning">Edit</a>
    <a asp-action="List" class="btn btn-primary">&lt;&lt; Back</a>
</div>

