@model WebApplication.Models.Driver
<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>150</h3>

                    <p>Active Drivers</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>Driver Ratings</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>44</h3>

                    <p>Passenger Registrations</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>65</h3>

                    <p>Passenger Stats</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-success card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="~/images/user1.jpg"
                                     alt="User profile picture">
                            </div>
                            <h3 class="profile-username text-center"> @Html.DisplayFor(model => model.Name)  @Html.DisplayFor(model => model.Surname)</h3>
                            <p class="text-muted text-center">Passenger @Model.id </p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Trips Completed</b> <a class="float-right">204</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Amount Due</b> <a class="float-right">R543.00</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Ratings</b> <a class="float-right">3/10 Stars</a>
                                </li>
                            </ul>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="id" />
                                <input type="submit" style="width:180px" value="UPDATE" class="btn btn-success" />
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">PASSENGER</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> detail submitted</strong>

                            <p class="text-muted">
                                Documents recieved
                            </p>
                            <hr>
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                            <p class="text-muted">Johanesburg</p>
                            <hr>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="btn btn-success" href="#update" data-toggle="tab">Activity</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="update">
                                    <!-- Post -->
                                    <div class="card card-success">
                                        <div class="card-header">
                                            <h3 class="card-title">DRIVER #@Model.id</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body" style="background-color:white">
                                            <div class="row">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-12 col-sm-4">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Date Account </span>
                                                                    <span class="info-box-number text-center text-muted mb-0">05/02/2020</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-4">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Added by</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">Admin 1</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-4">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Last modified</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">05/04/2020<span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="post">
                                                                <div class="user-block">
                                                                    <img class="img-circle img-bordered-sm" src="~/images/user1.jpg" alt="user image">
                                                                    <span class="username">
                                                                        <a href="#">@Model.Name @Model.Surname</a>
                                                                    </span>
                                                                    <span class="description">Worker Passenger</span>
                                                                </div>
                                                                <!-- /.user-block -->
                                                                <div class="row" style="position:center">
                                                                    <div class="col-4">
                                                                        <h5 class="headline">Full Name</h5>
                                                                        <span class="description">@Model.Name @Model.Surname</span>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <h5 class="headline">Gender</h5>
                                                                        <span class="description">@Model.Gender</span>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <h5 class="headline">Age</h5>
                                                                        <span class="description">34 years old</span>
                                                                    </div>
                                                                </div>
                                                                </br>
                                                                </br>
                                                                <div class="row">

                                                                    <div class="col-4">
                                                                        <h5 class="headline">Email</h5>
                                                                        <span class="description">@Model.Email</span>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <h5 class="headline">Cell</h5>
                                                                        <span class="description">@Model.Cell</span>
                                                                    </div>
                                                                </div>
                                                                </br>
                                                                </br>
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <h5 class="headline">Usertype</h5>
                                                                        <span class="description">Passeneger</span>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <h5 class="headline">Passenger type</h5>
                                                                        <span class="description">Worker</span>
                                                                    </div>

                                                                </div>
                                                                </br>
                                                                </br>
                                                                <form asp-action="Edit">
                                                                    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-success">
                                                                        <i class="fas fa-user"></i>Update
                                                                    </a>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- Post -->
                                    <!-- /.post -->
                                </div>

                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>

