@model WebApplication.Models.Passenger

@{
    ViewData["Title"] = "Profile";
}

<h1>@ViewData["Title"]</h1>

<script>
    function SelectDriverType() {
        var selec = document.getElementById("DriverTypeId");
        var dis = selec.options[selec.selectedIndex].text;
        document.getElementById("mytext").value = dis;
    }

    function SelectGender() {
        document.getElementsByName('radio1')
            .forEach(radio => {
                if (radio.checked) {
                    document.getElementById("inGender").value = radio.value;
                }
            });
    }</script>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/images/user1.jpg"
                                 alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center"> @Html.DisplayFor(model => model.Name)  @Html.DisplayFor(model => model.Surname)</h3>
                        <p class="text-muted text-center">Passenger </p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Trips Completed</b> <a class="float-right">204 Trips</a>
                            </li>
                            <li class="list-group-item">
                                <b>Amount Due</b> <a class="float-right">R543.00</a>
                            </li>
                            <li class="list-group-item">
                                <b>Ratings</b> <a class="float-right">3/10 Stars</a>
                            </li>
                        </ul>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="id" />
                            <input type="submit" style="width:200px" value="UPDATE" class="btn btn-success" />
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Passenger</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> detail submitted</strong>

                        <p class="text-muted">
                            Documents recieved
                        </p>
                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                        <p class="text-muted">Johanesburg</p>
                        <hr>
                        <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
                        <p class="text-muted">
                            <span class="tag tag-danger">UI Design</span>
                            <span class="tag tag-success">Coding</span>
                            <span class="tag tag-info">Javascript</span>
                            <span class="tag tag-warning">PHP</span>
                            <span class="tag tag-primary">Node.js</span>
                        </p>
                        <hr>
                        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#update" data-toggle="tab">Activity</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Trips</a></li>
                            <li class="nav-item"><a class="nav-link" href="#update" data-toggle="tab">Reports</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="update">
                                <!-- Post -->
                                <div class="card card-blue">
                                    <div class="card-header">
                                        <h3 class="card-title">PASSENGER</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="background-color:white">
                                        <div class="row">
                                            <div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-4">
                                                        <div class="info-box bg-light">
                                                            <div class="info-box-content">
                                                                <span class="info-box-text text-center text-muted">Date Account </span>
                                                                <span class="info-box-number text-center text-muted mb-0">05/02/2020</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-4">
                                                        <div class="info-box bg-light">
                                                            <div class="info-box-content">
                                                                <span class="info-box-text text-center text-muted">Added by</span>
                                                                <span class="info-box-number text-center text-muted mb-0">Admin 1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-4">
                                                        <div class="info-box bg-light">
                                                            <div class="info-box-content">
                                                                <span class="info-box-text text-center text-muted">Last modified</span>
                                                                <span class="info-box-number text-center text-muted mb-0">05/04/2020<span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="post">
                                                            <div class="user-block">
                                                                <img class="img-circle img-bordered-sm" src="~/images/user1.jpg" alt="user image">
                                                                <span class="username">
                                                                    <a href="#">Name Surname</a>
                                                                </span>
                                                                <span class="description">Worker Passenger</span>
                                                            </div>
                                                            <!-- /.user-block -->
                                                            <div class="row" style="position:center">
                                                                <div class="col-4">
                                                                    <h5 class="headline">Full Name</h5>
                                                                    <span class="description">@Model.Name @Model.Surname</span>
                                                                </div>
                                                                <div class="col-4">
                                                                    <h5 class="headline">Gender</h5>
                                                                    <span class="description">@Model.Gender</span>
                                                                </div>
                                                                <div class="col-4">
                                                                    <h5 class="headline">Age</h5>
                                                                    <span class="description">34 years old</span>
                                                                </div>
                                                            </div>
                                                            </br>
                                                            </br>
                                                            <div class="row">
                                                                <div class="col-4">
                                                                    <h5 class="headline">Home Address</h5>
                                                                    <span class="description">@Model.HomeAddress</span>
                                                                </div>
                                                                <div class="col-4">
                                                                    <h5 class="headline">Email</h5>
                                                                    <span class="description">@Model.Email</span>
                                                                </div>
                                                                <div class="col-4">
                                                                    <h5 class="headline">Cell</h5>
                                                                    <span class="description">@Model.Cell</span>
                                                                </div>
                                                            </div>
                                                            </br>
                                                            </br>
                                                            <div class="row">
                                                                <div class="col-4">
                                                                    <h5 class="headline">Usertype</h5>
                                                                    <span class="description">Passeneger</span>
                                                                </div>
                                                                <div class="col-4">
                                                                    <h5 class="headline">Passenger type</h5>
                                                                    <span class="description">Worker</span>
                                                                </div>
                                                                <div class="col-4">
                                                                    <h5 class="headline">Date Added</h5>
                                                                    <span class="description">@Model.BirthDate</span>
                                                                </div>
                                                            </div>
                                                            </br>
                                                            </br>
                                                            <form asp-action="Edit">
                                                                <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-primary">
                                                                    <i class="fas fa-user"></i>Update
                                                                </a>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- Post -->
                                <!-- /.post -->
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="card card-blue">
                                    <div class="card-header">
                                        <h3 class="card-title">ASSIGN TO TRIP</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="background-color:white">
                                        <div class="row">
                                            <div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="info-box bg-light">
                                                            <div class="info-box-content">
                                                                <span class="info-box-text text-left text-muted">TripID:#Not-Assigned</span>
                                                                <span class="info-box-text text-left text-muted">Date: Not Available </span>
                                                                <span class="info-box-text text-left text-muted">Time: Not Available</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="post">
                                                            </br>
                                                                <form asp-action="EditTrip">
                                                                <a asp-action="EditTrip" asp-route-id="@Model.id" class="btn btn-sm btn-warning">Add</a>
                                                                <a asp-action="RemoveTrip" asp-route-id="@Model.id" class="btn btn-sm btn-danger">History</a>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


